<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout}">
<head>

		<!-- 個別 CSS -->
		<link	th:href="@{/css/user/user_page.css}"
				rel="stylesheet">
		<title>パスワード変更</title>
	</head>
<body>
	<div layout:fragment = "content">
		<form th:action = "@{/user/change/password}" th:method = "post" id = "update" th:object = "${pass_valid}">
			<div class = "header border-bottom">
				<h1 class = "h2">新パスワード入力画面</h1>
				<br>
				<table class="table">
					<tbody>
						<tr>
							<th scope="row" >パスワード変更</th>
							<td>
								<input type="password" name = "password" placeholder="新パスワードを入力" th:field = "*{password}">
							</td>
						</tr>
						<tr>
							<th scope="row" th:text = "#{Password} + (確認)"></th>
							<td>
								<input type="password" name = "password_confirm" placeholder="新パスワードを確認" th:field = "*{passwordConfirm}">
								<!--<span style="color: red;" th:if="${#fields.hasErrors('penName')}" th:errors="*{penName}"></span>-->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<br>
		<div class="container">
			<div class="row align-items-center">
				<div class="col"></div>
				<div class="col">
					<div class="d-grid gap-2 col-6">
						<button form = "update" class="btn btn-primary" type="submit" th:text = "変更"></button>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
</body>
</html>