<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout}">
<head>

		<!-- 個別 CSS -->
		<link	th:href="@{/css/user/user_page.css}"
				rel="stylesheet">
		<title>ユーザーページ</title>
	</head>
<body>
	<div layout:fragment = "content">
		<div class = "header border-bottom" th:object = "${user_name}">
			<h1 class = "h2">のべるページ</h1>
			<a th:text = "*{penName}"></a>
			<form th:action = "@{/user/user_info}" th:object = "${user_name}" th:method = "post">
				<input type = "hidden" name = penName th:field = "*{penName}" />
			
			<button type = "submit">ユーザインフォ</button>
			</form>
		</div>
	</div>
</body>
</html>