<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout}">
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- 個別 CSS -->
		<link	th:href="@{/css/user/user_page.css}"
				rel="stylesheet">
		<title>ユーザーページ</title>
	</head>
<body>
	<div lauout:fragment = "content">
		<div class = "header border-bottom">
			<h1 class = "h2">ユーザーページ</h1>
		</div>
	</div>
hello
</body>
</html>